<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Monitoring</title>
    <% if (cssFile) { %>
        <link rel="stylesheet" href="/<%= cssFile %>">
        <% } %>
</head>

<body>
    <div id="app"></div>
    <script>
        window.API_BASE_URL = "<%= apiBaseUrl %>"
    </script>
    <script type="module" src="/<%= jsFile %>"></script>
</body>

</html>