<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Monitoring</title>
    <link rel="stylesheet" href="/assets/index.css">
</head>

<body>
    <div id="app"></div>
    <script>
        window.API_BASE_URL = "<%= apiBaseUrl %>"
    </script>
    <script type="module" src="/assets/index.js"></script>
</body>

</html>