<head>
  <% cssFiles.forEach(file => { %>
    <link rel="stylesheet" href="/dist/css/<%= file %>">
  <% }) %>
</head>
<body>
  <div id="app"></div>
  <% jsFiles.forEach(file => { %>
    <script src="/dist/js/<%= file %>"></script>
  <% }) %>
</body>
