
/* Style pour les lignes avec mismatch - sans animation */
.row-mismatch {
  background: rgba(255, 4, 25, 0.116) !important;
  border-left: 3px solid var(--danger) !important;
}

.row-match {
  background-color: #67fd3d7c !important;
  border-left: 3px solid var(--success) !important;
}

/* Ton de rouge renforcé pour AG Grid */
.ag-theme-quartz .ag-row.row-mismatch .ag-cell {
  border-bottom: 1px solid rgba(255, 4, 25, 0.116);
}

.ag-theme-quartz .ag-row.row-mismatch.ag-row {
  background-color: rgba(255, 4, 25, 0.116) !important;
}

.ag-theme-quartz .ag-row.row-mismatch.ag-row-selected {
  background-color: rgba(255, 4, 25, 0.116) !important;
}

/* Ton de rouge renforcé pour AG Grid */
.ag-theme-quartz .ag-row.row-match .ag-cell {
  border-bottom: 1px solid #67fd3d7c;
}

.ag-theme-quartz .ag-row.row-match.ag-row {
  background-color: #67fd3d7c !important;
}

.ag-theme-quartz .ag-row.row-match.ag-row-selected {
  background-color: #67fd3d7c !important;
}


.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #337ab7;
  /* Couleur Bootstrap "primary" */
  border-radius: 50%;
  width: 45px;
  height: 45px;
  animation: spin 1s linear infinite;
}

.modal{
width: auto !important;
margin: auto !important;
}

.modal.fade, .modal.fade.in  {
top:0 !important;
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  background: #3498db !important;
  color: black !important;
}

/* Animation rotation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinning {
  animation: spin 1s linear infinite;
}

.switchReload {
  position: relative;
  display: inline-block;
  width: 36px;
  /* largeur réduite */
  height: 18px;
  /* hauteur réduite */
  margin-right: 6px;
}

/* Cache la case à cocher */
.switchReload input {
  display: none;
}

/* Slider */
.sliderReload {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(185, 180, 180);
  transition: 0.4s;
  border-radius: 18px;
}

/* Cercle du slider */
.sliderReload:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked+.sliderReload {
  background-color: #337ab7;
}

/* Déplacement quand activé */
input:checked+.sliderReload:before {
  transform: translateX(18px);
}




